body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  background-color: black;
  color: white;
  font-size: 19px;
  line-height: 8px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  font-family: Helvetica, sans-serif;
  z-index: 1;
}

#titulo {
  text-align: center;
}

a {
  display: flex;
  padding-left: 44%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-bottom: 2%;
}

#licoes_aprendidas {
  position: relative;
}

#licoes_a_aprender {
  position: relative;
  margin-left: 2%;
}

#lista {
  display: flex;
  border: dashed;
  position: relative;
  top: 450px;
  height: 400px;
  width: 30%;
  float: left;
  margin-left: 35%;
  font-size: 17px;
}

#minha_foto {
  width: 180px;
  margin-right: 0%;
}
.lado-esquerdo {
  border:dashed ;
  width: 500px;
  height: 38%;
  top: 15%;
  position: absolute;
  text-align: center;
  font-size: 150%;
}

.lado-direito {
  border: dashed ;
  width: 500px;
  left: 550px;
  top: 15%;
  font-size: 100%;
  position: absolute;
  text-align: center;
}

#rodape {
  position: fixed;
  background-color: black;
  border: solid;
  height: 100px;
  width: 150%;
  top: 95%;
  left: -20%;
  color: white;
  text-align: center;
}
