body {
 background-color: rgb(253, 251, 251);
}
#cabecalho {
 background-color:black;
 color:white;
 font-size:15px;
 top:0;
 left:0;
 right:0;
 position:fixed;
 font-family: Helvetica, sans-serif;
}
#minha_foto {
 width:150px;
 padding-top:11%;
 padding-left:02%;
}
#titulo {
 text-align:center;
}
a {
 display:flex;
 padding-left:46%;
 text-decoration:none;
 color:white;
 font-size: 20px;
}
#menu li {
 list-style-type:none;
 display:inline-block;
 margin:1%;
}
#menu {
 position:relative;
 left:40%;
 color:white;
 font-size: 20px;
}
#lista {
 display:flex;
 border: dotted;
}
h2 {
 padding-left:10%;
}
#licoes_aprendidas {
 border: solid;
}
#licoes_a_aprender {
 border: solid;
}
